@use "../../../styles/main.scss" as c;

.layout-wrapper {
  background-color: c.$color-secondary;

  .layout {
    position: relative;
    margin: 0 auto;
    background-color: c.$color-secondary;

    .layout-content {
      min-height: 100vh;
    }

    .layout__item__wrapper {
      display: flex;
      justify-content: center;
      padding: 0 36px;
    }

    .navbar,
    .footer {
      padding: 0 36px;
      position: absolute;
      width: 100%;
    }

    .navbar {
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;

      .navbar-first-part,
      .navbar-second-part {
        flex: 1 0 50%;
        display: flex;
        align-items: center;
        gap: 86px;
      }

      .navbar-second-part {
        justify-content: space-between;
        padding-left: 36px;

        .button-content {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 11px;
          background: none;
          color: rgba(255, 255, 255, 1);
          border-color: rgba(255, 255, 255, 1);

          &:hover {
            svg {
              fill: white;
            }
          }
        }

        @media (min-width: 1160px) {
          .language-toggle {
            background-color: rgba(255, 255, 255, 0.14);

            span {
              color: rgba(255, 255, 255, 0.74);
            }
          }
        }
      }

      @media (max-width: 1160px) {
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);

        .navbar-first-part {
          gap: 0;
          justify-content: space-between;

          .logo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        .navbar-second-part {
          justify-content: flex-end;
          padding-left: 0;

          .button-content {
            display: none;
          }
        }
      }
    }

    .footer {
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;

      @media (max-width: 1160px) {
        border-top: 1px solid rgba(51, 51, 51, 0.1);
      }

      @media (max-width: 360px) {
        flex-direction: column-reverse;
        gap: 12px;
      }

      .copyright {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.52px;
        letter-spacing: 0.04px;
        text-align: left;
        color: rgba(10, 41, 16, 0.74);
      }

      .links {
        display: flex;
        gap: 24px;

        .link-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 34px;
          height: 34px;
          border: solid 1px rgba(51, 51, 51, 0.1);
          border-radius: 50%;

          @media (min-width: 1160px) {
            border: solid 1px rgba(255, 248, 238, 0.74);
          }

          svg {
            path {
              fill: #0a2910;

              @media (min-width: 1160px) {
                fill: #fff8eebd;
              }
            }
          }
        }
      }
    }
  }
}

.root-modal-content {
  nav {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    width: 100%;

    a {
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-top: 1px solid rgba(51, 51, 51, 0.1);

      &:last-child {
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
      }

      &:hover,
      &:focus {
        background-color: #f4f4f4;
      }

      &.active {
        background-color: #f0f0f0;
        span {
          color: #333333;
        }
      }

      span {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.04px;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.87);
      }
    }
  }

  .root-modal-content__btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
    .btn-content {
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }
}
