@use "../../../styles/main.scss" as c;

.layout-wrapper {
  background-color: c.$color-secondary;
  // min-height: 100vh;

  .layout {
    position: relative;
    // max-width: 1920px;
    margin: 0 auto;
    background-color: c.$color-secondary;

    .layout-content {
      min-height: 100vh;

      // z-index: 10;
    }

    .layout__item__wrapper {
      display: flex;
      justify-content: center;
      padding: 0 36px;
    }

    .navbar,
    .footer {
      padding: 0 36px;
      position: absolute;
      width: 100%;
    }

    .navbar {
      left: 0;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;

      @media (max-width: 1160px) {
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
      }

      @media (max-width: 1124px) {
        margin-left: 0;
        margin-right: 0;

        padding-left: 36px;
        padding-right: 36px;
      }

      @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;

        margin-left: 16px;
        margin-right: 16px;
      }

      @media (max-width: 360px) {
        border-bottom: none;
      }
    }

    .footer {
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;

      @media (max-width: 1160px) {
        border-top: 1px solid rgba(51, 51, 51, 0.1);
      }

      @media (max-width: 576px) {
        padding-left: 0;
        padding-right: 0;

        margin-left: 16px;
        margin-right: 16px;
      }

      @media (max-width: 360px) {
        flex-direction: column-reverse;
        gap: 12px;
      }

      .copyright {
        font-family: Inter;
        font-size: 12px;
        font-weight: 500;
        line-height: 14.52px;
        letter-spacing: 0.03999999910593033px;
        text-align: left;
        color: rgba(10, 41, 16, 0.74);
      }

      .links {
        display: flex;
        gap: 24px;

        .link-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          border: solid 1px rgba(51, 51, 51, 0.1);
          width: 34px;
          height: 34px;

          border-radius: 50%;
        }
      }
    }
  }
}

.root-modal-content {
  nav {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    width: 100%; // Ensure full width if needed

    a {
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border-top: 1px solid rgba(51, 51, 51, 0.1); // Apply a top border to all links

      &:last-child {
        border-bottom: 1px solid rgba(51, 51, 51, 0.1); // Only the last link gets a bottom border
      }

      &:hover,
      &:focus {
        background-color: #f4f4f4; // Light grey background on hover
      }

      &.active {
        background-color: #f0f0f0;
        // Active link background color and text color
        span {
          color: #333333;
        }
      }

      span {
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.03999999910593033px;
        text-transform: uppercase;
        color: rgba(51, 51, 51, 0.87);
      }
    }
  }

  .root-modal-content__btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
    }
    .btn-content {
      display: flex;
      justify-content: center;
      align-items: center;

      // on button hover change color of svg to white

      &:hover {
        svg {
          fill: white;
        }
      }
    }
  }
}
